#titol {
  font-size: 20px;
  text-decoration: underline;

}

.Principal{
    font-size:50pm;
    text-decoration: underline;
    
    
}

.Rojo{
    color: red;
    
    
}

.Verde{
    color: green;
    
    
}

.Azul{
    color: blue;
    
    
}

/* Text amb hover */
      
      
      .hover-text:hover {
        
        color: orange;
        cursor: pointer;
      }

/*Text sense hover */      

.Contacte  {
    color: black

    
    
}     

.Contacte2  {
  color: blue;
  cursor: pointer;
  font-size: 15px;
    
}    


#P {
     color: green
  } 

.Texto_importante {
     color: red;
     font-weight: bold;
  }   

  .Gran {
     font-size:24px;
  } 

  .negreta {
     font-weight: bold;
  } 

  .subrayat {
     text-decoration: underline;
  } 

  /* Ejemplo para elementos */
  
  .Decoracion:: after {
     color: blue;
     content:

  } 
  