#titol {
  font-size: 10px;
  text-decoration: underline;

}

.Principal{
    font-size:50pm;
    text-decoration: underline;
    
    
}

.Rojo{
    color: red;
    
    
}

.Verde{
    color: green;
    
    
}

.Azul{
    color: blue;
    
    
}

/* Text amb hover */
      
      
      .hover-text:hover {
        
        color: orange;
        cursor: pointer;
      }

.Contacte  {
    color: black

    
    
}     

.Contacte2  {
  color: blue;
  cursor: pointer;
  font-size: 15px;
    
}    


#P {
     color: green
  } 

#P {
     color: green
  }   
