#titol {
  font-size: 24px;
  text-decoration: underline;

}

.Principal{
    font-size:50pm;
    text-decoration: underline;
    
    
}

.Rojo{
    color: red;
    
    
}

.Verde{
    color: green;
    
    
}

.Azul{
    color: blue;
    
    
}

/* Text amb hover */
      
      
      .hover-text:hover {
        
        color: orange;
        cursor: pointer;
      }